.header{
    /* margin: "1%", */
    padding: "0.3%";
    padding-left: "3%";
    /*  borderBottom: "5px solid #E86800",
    borderRadius: 5, */
    color: "white";
    background-color: "orange";
  }